a:link {
    text-decoration: none;
}

.entry p {
    margin: 0.5vw 0;
}

.entry ul {
    margin: 0.5vw 0;
}

.entry {
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    background-color: white;
    width: 80%;
    border-radius: 1vw;
    margin: auto;
    margin-bottom: 2.5vw;
    animation: pop_up 0.75s ease; 
}

.entry_divider {
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    background-color: white;
    width: 80%;
    border-radius: 1vw;
    margin: auto;
    margin-bottom: 2.5vw;
    font-size: 6vw;
    animation: pop_up 0.75s ease;
}

.entry_header {
    display: flex;
    align-items: center;
    padding: 1vw;
    border-bottom: 5px black solid;
}

.entry_image {
    width: 8vw;
    height: 8vw;
}

.entry_title {
    font-size: 4.5vw;
    padding-left: 1vw;
    color: black;
    text-align: left;
}

.entry_blurb {
    font-size: 3vw;
    line-height: 0.8;
    padding-left: 1vw;
    color: darkslategrey;
    text-align: left;
}

.entry_subtitle {
    color: grey;
    font-size: 2.5vw;
    margin-left: auto;
}

.entry_text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    margin: 1vw;
    text-align: left;
    font-size: 2.5vw;
    line-height: 1.4;
    color: black;
}

@keyframes pop_up {
    0% { transform: scale(0) }
    40% {transform: scale(1.1)}
    70% {transform: scale(0.95)}
    90% {transform: scale(1.01)}
    100% {transform: scale(1)}
}
  

@media screen and (max-width: 480px) {
    .entry {
        width: 95%;
    }

    .entry_header {
        display: flex;
        align-items: center;
        padding: 1vw;
        border-bottom: 3px black solid;
    }
    
    .entry_image {
        width: 12vw;
        height: 12vw;
        float: left;
    }
    
    .entry_title {
        font-size: 5.5vw;
        float: left;
        padding-left: 1vw;
    }

    .entry_blurb {
        font-size: 4vw;
    }

    .entry_divider {
        width: 95%;
        font-size: 8vw;
    }
    
    .entry_subtitle {
        color: grey;
        font-size: 2.5vw;
        margin-left: auto;
    }

    .entry_text {
        font-size: 3vw;
    }
}

@media screen and (min-width: 1200px) {
    .entry_title {
        font-size: 4.5vw;
        float: left;
        padding-left: 1vw;
    }

    .entry_blurb {
        font-size: 3vw;
    }

    .entry_divider {
        width: 80%;
        font-size: 7vw;
    }
    
    .entry_subtitle {
        color: grey;
        font-size: 2vw;
        margin-left: auto;
    }

    .entry_text {
        font-size: 2vw;
    }
}