html, body {
    margin: 0;
    text-align: center;
    background-color: #f3f1ef;
    font-family: 'Staatliches', cursive;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}