.app {
  overflow: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

.section {
  position: relative;
  scroll-snap-align: start;
  height: 100vh;
}

.section .center {
  height: 20vh;
  width: 20vh;
}

.section .center img {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .subheading {
    font-size: 3vw;
  }
  
  .heading {
    font-size: 10vw;
    font-weight: bold;
  }
}

@media screen and (max-width: 600px) {
  .subheading {
    font-size: 5vw;
  }
  
  .heading {
    font-size: 15vw;
    font-weight: bold;
  }
}