@font-face {
  font-family: Pier;
  src: url('res/PierSans-Regular.otf');
}

@font-face {
  font-family: Pier;
  src: url('res/PierSans-Bold.otf');
  font-weight: bold;
}

body, html {
  margin: 0;
  overflow: hidden;
  font-family: Pier;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
